#news {
	width: 100%;
	background: #fff;
	position: relative;
	overflow: hidden;
	.inner {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		padding: 50px 0;
		position: relative;
		overflow: hidden;
		> h1 {
			font: bold 50px/1.3 'arial';
			color: #666;
			letter-spacing: 1.3px;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.wrap {
			width: 100%;
			article {
				width: 100%;
				padding: 30px;
				border-top: 2px solid #999;
				display: flex;
				justify-content: space-between;
				align-items: center;
				&:last-of-type {
					border-bottom: 2px solid #999;
				}

				h5 {
					width: calc(20%);
					height: 100%;
					word-wrap: break-word;
					font: bold 16px/1.2 'arial';
					color: #555;
				}
				p {
					word-wrap: break-word;
					width: calc(60%);
					height: 100%;
					font: 14px/1.3 'arial';
					color: #999;
				}
				> a {
					width: 5%;
					text-align: right;

					&:hover .fa-right-to-bracket {
						color: #555;
					}
					.fa-right-to-bracket {
						transition: 0.5s;
						font-size: 25px;
						color: #999;
					}
				}
			}
		}
	}
}
